@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.body-container {
  height: 900px;
}

.slider-one, .slider-two, .slider-three, .slider-four {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: slider-one 12s linear infinite;
          animation: slider-one 12s linear infinite;
}

.slider-one .slider-text, .slider-two .slider-text, .slider-three .slider-text, .slider-four .slider-text {
  position: absolute;
  top: 60%;
  left: 15%;
  color: white;
  width: 700px;
  text-transform: capitalize;
  -webkit-animation: text-up 12s linear infinite;
          animation: text-up 12s linear infinite;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slider-one .slider-text h1, .slider-two .slider-text h1, .slider-three .slider-text h1, .slider-four .slider-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Playball', cursive;
}

.slider-one .slider-text p, .slider-two .slider-text p, .slider-three .slider-text p, .slider-four .slider-text p {
  color: #daf2fa;
  font-size: 18px;
  line-height: 28px;
}

.slide-one-image, .slide-two-image, .slide-three-image, .slide-four-image {
  width: 130%;
  height: 100%;
  background: url("../images/china5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: zoom-out 6s linear infinite;
          animation: zoom-out 6s linear infinite;
}

.slider-two {
  -webkit-animation: slider-two 12s linear infinite;
          animation: slider-two 12s linear infinite;
}

.slider-two .slide-two-image {
  background-image: url("../images/us1.jpg");
}

.slider-two .slide-two-image .slider-text {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.slider-three {
  -webkit-animation: slider-three 12s linear infinite;
          animation: slider-three 12s linear infinite;
}

.slider-three .slide-three-image {
  background-image: url("../images/china7.jpg");
}

.slider-three .slide-three-image .slider-text {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.slider-four {
  -webkit-animation: slider-four 12s linear infinite;
          animation: slider-four 12s linear infinite;
}

.slider-four .slide-four-image {
  background-image: url("../images/us3.jpg");
}

.slider-four .slide-four-image .slider-text {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes slider-one {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-one {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-two {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-two {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-three {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slider-three {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes slider-four {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slider-four {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes zoom-out {
  100% {
    width: 100%;
  }
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}

@-webkit-keyframes text-up {
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes text-up {
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 798px) {
  .slider-one .slider-text, .slider-two .slider-text, .slider-three .slider-text, .slider-four .slider-text {
    width: 80%;
  }
}

.navbar {
  background: rgba(28, 28, 29, 0.7);
  z-index: 2;
}

.navbar-brand img {
  width: 100px;
}

.nav-link {
  color: lightblue !important;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}

.nav-link .fas {
  color: darkgoldenrod;
  padding: 10px;
}

.dropdown-menu {
  background: rgba(130, 173, 229, 0.7);
  width: 200px;
}

.dropdown-menu li a {
  color: white;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
}

.language {
  font-size: 1em;
  color: #c3c3e7 !important;
}

.language i {
  color: #e63131 !important;
}

.season {
  color: darkorchid;
  font-family: 'Playball', cursive;
  font-size: 3em;
}

.about {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.about img {
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0;
}

.about .company {
  position: absolute;
  
  color: lightsteelblue;
}

.about .company i {
  color: darkgoldenrod;
}

.about .company p {
  line-height: 40px;
  font-size: 1.2rem;
  color: white;
}

.about .company p span {
  font-family: 'Parisienne', cursive;
  font-size: 3em;
  margin-right: 5px;
}

.about .company div span {
  color: lightsteelblue;
}

.about .company .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .company .modal-box {
  visibility: hidden;
  background: #2f2f44;
  font-family: 'Poppins',sans-serif;
  height: auto;
  width: 400px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #34575f;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.about .company .modal-box .icon1 {
  font-size: 3em;
  color: goldenrod;
}

.about .company .modal-box h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}

.about .company .modal-box p {
  margin-bottom: 10px;
  line-height: 20px;
  color: grey;
}

.about .company .modal-box form input {
  height: 2.5rem;
  width: 95%;
  border-radius: 3px;
  padding: 0 3em;
  font-size: 1.2em;
  outline: none;
  border: 1px solid #34575f;
  caret-color: darkolivegreen;
}

.about .company .modal-box form input::-webkit-input-placeholder {
  color: #8c8c8c;
}

.about .company .modal-box form input:-ms-input-placeholder {
  color: #8c8c8c;
}

.about .company .modal-box form input::-ms-input-placeholder {
  color: #8c8c8c;
}

.about .company .modal-box form input::placeholder {
  color: #8c8c8c;
}

.about .company .modal-box form input:focus {
  -webkit-box-shadow: 0 0 5px #b7e6ee,
 0 0 10px #393c3d,
 0 0 10px #ffffff;
          box-shadow: 0 0 5px #b7e6ee,
 0 0 10px #393c3d,
 0 0 10px #ffffff;
}

.about .company .modal-box form button {
  height: 2.5rem;
  width: 95%;
  border-radius: 3px;
  margin-top: 15px;
  background: darkgoldenrod;
  color: white;
  font-size: 1.2em;
  border: 1px solid #34575f;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.about .company .modal-box form button:hover {
  letter-spacing: 2px;
  background: #f1b10e;
}

.about .company .modal-box form .icon2 {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  background: darkgoldenrod;
  line-height: 40px;
  font-size: 1.5rem;
  border-radius: 5px 0 0 5px;
}

.about .company .modal-box .icons i {
  font-size: 1.4rem;
  margin: 0 7px;
  cursor: pointer;
}

.about .company .modal-box .icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #f1b10e;
}

.about .company .modal-box .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  background: darkgoldenrod;
  height: 2em;
  width: 2em;
  line-height: 1.8em;
  border-radius: 0 5px 0 50px;
  padding-left: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s  ease-out;
  transition: 0.5s  ease-out;
}

.about .company .modal-box .fa-times:hover {
  font-size: 1.2em;
}

.about .btn {
  position: relative;
  left: 60%;
}

.introduce {
  margin-top: 20px;
}

.introduce i {
  font-size: 4em;
  color: darkgoldenrod;
}

.card {
  -webkit-box-shadow: 5px 20px 30px 10px #888888;
          box-shadow: 5px 20px 30px 10px #888888;
}

.card .card-body {
  background-color: #05051a;
  color: white;
}

.card .card-body .card-title {
  color: lightblue;
}

.card .card-footer {
  background-color: lightgrey;
}

.box {
  width: 100%;
  background: #0a0a1a;
}

.item .img-partner {
  width: 80px;
  
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box h1 {
  font-size: 3em;
  color: white;
}

.box hr {
  width: 150px;
  height: 4px;
  color: white;
  margin: 0  auto;
}

.box p {
  color: #776606;
}

.slick-slide {
  margin: 0 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

footer {
  margin-top: 0px !important;
  padding-top: 0px;
  background: black;
}

footer .box2 {
  position: relative;
}

footer .box2 img {
  width: 80%;
}

footer .box2 h5 {
  position: relative;
  left: 10%;
  color: lightblue;
  text-align: left;
}

footer .box2 ul {
  list-style: none;
}

footer .box2 ul a {
  text-decoration: none;
  color: white;
}

footer .line1 {
  position: relative;
}

footer .line1 hr {
  position: relative;
  left: 10%;
  width: 80%;
  color: lightseagreen;
  height: 2px;
  text-align: center;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

footer .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  list-style: none;
  position: relative;
  left: 10%;
}

footer .copyright ul li {
  margin-right: 15px;
}

footer .copyright ul li a:hover {
  color: darkgoldenrod;
}

footer .copyright p {
  position: relative;
  left: 50%;
  color: white;
}

footer .copy {
  padding-top: 20px;
}

.img-small{
  margin-top: 0;
  margin-bottom: 1rem;
  float: right;
}


/*# sourceMappingURL=home.css.map */